.line-one a {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 48px;
  color: #830247;
  text-decoration: none;
}

.nav-btn a {
  text-decoration: none;
  color: black;
}

nav h6 {
  margin-top: 0px;
}

nav h4 {
  margin-top: 0px;
}


nav {
  display: flex;
  flex-direction: column;
  margin: 0 150px 0 150px;
}

#top-line {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.line-one {
  text-align: start;
  margin: 20px 0 0 0;
}

.line-two {
  text-align: center;
}

.line-two {
  text-decoration: none;
  font-family: "IBM plex Sans Condensed";
  font-weight: 600;
  cursor: pointer;
}

.line-two a {
  text-decoration: none;
}

.log-in a {
  color: black;
}

.create-account a {
  color: #830247;
}

.log-in {
  font-size: 20px;
  color: black;
}
.create-account {
  font-size: 18px;
  color: #830247;
  font-weight: 500;
}

#bottom-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 54px;
}


#footer-text h6 {
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;

}

footer {
  background-color: #da4988;
  height: 206px;
  letter-spacing: 0.5px;
  position: relative;
  margin-top: 120px;
}

#dark-heart1 img {
  width: 34px;
  height: 30px;
  transform: rotate(-30deg);
  margin: 42px 0 0 0px;
}

#light-pink-heart1 img {
  width: 47px;
  height: 42px;
  position: absolute;
  margin: 25px 0 0 15px;
  transform: rotate(-5deg);
}

#dark-heart2 img {
  width: 88px;
  height: 79px;
  position: absolute;
  margin: 95px 0 0 0px;
}
#light-pink-heart2 img {
  width: 47px;
  height: 42px;
  position: absolute;
  margin: 150px 0 0 0;
  transform: rotate(-20deg);
}

#dark-heart3 img {
  width: 88px;
  height: 79px;
  position: absolute;
  margin: -30px 0 0 20px;
}
#light-pink-heart3 img {
  width: 47px;
  height: 42px;
  position: absolute;
  margin: -13px 0 0 0px;
  transform: rotate(-20deg);
}

#dark-heart4 img {
  width: 64px;
  height: 58px;
  position: absolute;
  transform: rotate(-30deg);
  margin: 103px 0 0 0px;
}

#light-pink-heart4 img {
  width: 88px;
  height: 79px;
  position: absolute;
  margin: 48px 0 0 5px;
  transform: rotate(0deg);
}

#dark-heart5 img {
  width: 51px;
  height: 46px;
  position: absolute;
  margin: 48px 0 0 20px;
  transform: rotate(-10deg);
}
#light-pink-heart5 img {
  width: 35px;
  height: 31px;
  position: absolute;
  margin: 65px 0 0 0px;
  transform: rotate(-30deg);
}

#dark-heart6 img {
  width: 34px;
  height: 30px;
  position: absolute;
  margin: 20px 0 0 0px;
  transform: rotate(5deg);
}

#footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.heart-grid {
  display: flex;
  justify-content: center;
}

.heart-grid a {
  text-decoration: none;
  color: #830247;
  font-size: 24px;
  font-family: "Raleway";
  font-weight: 600;
  position: relative;
}

@media (max-width: 1000px){
 nav {
   margin: 0 50px 0 50px;
 }

#dark-heart3 img,
#light-pink-heart3 img,
#dark-heart4 img,
#light-pink-heart4 img,
#dark-heart5 img,
#light-pink-heart5 img
#dark-heart6 img,
#light-pink-heart6 img {
display: none;
}



body {
  margin: 0;
  padding: 0;
}

#footer-text h6 {
text-align: center;
}

.heart-grid a {
  font-size: 16px;
}

#footer-content {
display:grid ;
grid-template-columns: 4fr 1fr 1fr 1fr 1fr;

}

footer {
  padding: 20px 20px 0 0;
  margin-top: 60px;
}

.line-two {
  display: none;
}

.line-one a {
  font-size: 32px;
}

.line-one h4 {
font-size: 12px;
}

#top-line {
 display: grid;
  grid-template-columns: 1fr;
}
}