main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottom-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 54px;
}

#blogpost img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.link-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 32px;
  margin: 0 0 100px 0;
  color: #da4988;
  cursor: pointer;
}

#blogpost h1 {
  font-family: "Raleway";
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  left: 10%;
  background-color: hsla(324, 100%, 90%, 0.65);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 60px 100px;
  border-radius: 50%;
}

header {
  position: relative;
}

h1 p {
  font-family: "IBM plex Sans Condensed";
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  color: #000;
  text-align: center;
}

p.post-content {
  font-family: "IBM plex Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  color: #000;
  max-width: 1000px;
}

#blogpost-content {
  background-color: rgba(255, 206, 236, 0.3);
  margin: 120px 150px 0 150px;
  padding: 5rem 10rem 5rem 5rem;
}

.created-date {
  font-style: italic;
  font-family: "IBM plex Sans Condensed";
  font-weight: 300;
  font-size: 16px;
  margin: 100px 0 0 0;
}
.updated-date {
  font-style: italic;
  font-family: "IBM plex Sans Condensed";
  font-weight: 300;
  font-size: 16px;
}

.edit-btn {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  background-color: #830247;
  border-radius: 7px;
  margin: 20px 0 0 0;
}

.edit-btn:hover {
  background-color: #5c0f3b;
}
.edit-btn:active {
  background-color: #da4988;
}

.delete-btn {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  background-color: #d40004;
  border-radius: 7px;
  margin: 20px 0 0 0;
}

.delete-btn:hover {
  background-color: #990003;
}

.delete-btn:active {
  border: 2px solid #d40004;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  color: #d40004;
}

#blogpost-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  margin: 20px 0 0 0;
}

button {
  width: 30vw;
  max-width: 330px;
  height: 40px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  main {
    margin: 50px 20px 50px 20px;
  }

  #blogpost-content {
    padding: 50px 20px 50px 20px;
    margin: 0px;
  }

  p.post-content {
    font-size: 16px;
  }

  p.created-date {
    font-size: 14px;
    margin-top: 50px;
  }

  p.updated-date {
    font-size: 14px;
  }
  .link-icon {
    font-size: 24px;
    margin: 0 0 50px 0;
  }

  #blogpost h1 {
    font-size: 24px;
    padding: 30px 50px;
  }

  #blogpost h1 p {
    font-size: 14px;
  }

  header img {
    height: 300px;
  }

  button {
    width: 30vw;
    height: 35px;
    max-width: 330px;
  }

  #blogpost-buttons {
    gap: 3rem;
  }

  .edit-btn {
    font-size: 20px;
  }

  .delete-btn {
    font-size: 20px;
  }
}
