main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 150px 0 150px;
}

.carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slide {
  position: relative;
  min-width: 100%;
  box-sizing: border-box;
}

.slides img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 206, 235, 0.65);
  color: #da4988;
  border: none;
  padding: 30px;
  border-radius: 50%;
  font-size: 48px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.slide h1 {
  position: absolute;
  top: 30%;
  left: 10%;
  background-color: rgba(255, 206, 235, 0.65);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 60px 100px 60px 100px;
  border-radius: 50%;
  text-align: center;
  transform: translateY(-50%);
}

.slide p {
  font-style: italic;
  font-weight: 300;
  font-family: "IBM plex Sans Condensed";
  color: #000;
}

.slide a {
  font-family: "IBM plex Sans Condensed";
  font-weight: 500;
  font-size: 16px;
  color: #830247;
  text-decoration: none;
}

p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  max-width: 540px;
}

.author-readmore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 13vw;
}

.read-more {
  align-items: center;
  text-align: center;
}

.read-more {
  font-style: normal;
}

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  justify-items: center;
  gap: 6vw;
  max-width: 1140px;
}

.post-container {
  background-color: rgba(255, 206, 236, 0.3);
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section img {
  max-width: 270px;
  max-height: 135px;
}

section .read-more {
  display: flex;
  justify-content: center;
  color: #830247;
  border-radius: 7px;
}

.post-container a {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 16px;
  color: #830247;
  text-decoration: none;
  margin: 20px 0 20px 0;
}

section .delete-btn {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: #d40004;
  border-radius: 7px;
  margin: 20px 0 20px 0;
}

section .delete-btn:hover {
  background-color: #990003;
}

section .delete-btn:active {
  border: 2px solid #d40004;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  color: #d40004;
}

section .edit-btn {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: #830247;
  border-radius: 7px;
  margin: 20px 0 0 0;
}

section .edit-btn:hover {
  background-color: #5c0f3b;
}

section .edit-btn:active {
  background-color: #da4988;
}

section button {
  width: 20vw;
  max-width: 200px;
  height: 30px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  main {
    margin: 50px 20px 50px 20px;
  }

  .thumbnail-grid {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  section button {
    width: 30vw;
    max-width: 200px;
    min-width: 150px;
    height: 30px;
  }

  .slide h1 {
    padding: 30px 50px 30px 50px;
  }

  .carousel button {
    padding: 15px;
    font-size: 24px;
  }

  p {
    font-size: 12px;
  }

  .slide a {
    font-size: 14px;
  }

  .slides img {
    height: 300px;
  }
}

/* https://ibb.co/pBh3b6Nd cake pops
https://ibb.co/nMbBTSK2  macroner
https://ibb.co/LX4Y7gHX cupcakes
https://ibb.co/xqpX877m scones
https://ibb.co/ccmpkY8R carrot cake
https://ibb.co/S4kFbHbw pumpkin spice bread
https://ibb.co/7cV7scF  Cinamon rolls
https://ibb.co/Z1mBF4cz Brownies
https://ibb.co/tw0zj0xn banana bread
https://ibb.co/x8KD0gsQ red velvet cupcakes
https://ibb.co/N2BmL8dj cookies
https://ibb.co/JjDmSqcb lemon blueberry muffins
*/
