:root {
  --color-text: black;
  --color-backround: #ffff;
  --color-primary: rgba(255, 206, 236, 0.3);
  --color-primaryvariation: rgba(255, 206, 236, 0.5);
  --color-secondary: #830247;
  --color-secondaryvariation: #660137;
  --color-detailsfooter: #da4988;
  --color-secondbutton: #d40004;
  --color-secondbuttonvariation: #990003;
}
